<%= div_for post, :class => 'with-image' do %>
  <% Rails.logger.info post.picture.image %>
  <%= image_tag post.picture.image.gallery.url %>
  <div class="message">
    <p><%= post.message %></p>
  </div>
  <div class="track">
    <p><%= post.track %></p>
  </div>
  <div class="location">
    <p><%= post.location.name %></p>
  </div>
<% end %>
