!!! 5

%html
  %head
    %title In Search of Sunrise
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

  %body{:data => {:background_images => background_images.to_json }}

    %section#header
      %h1= link_to 'In Search of Sunrise', root_path

    %nav
      = link_to 'Pictures', pictures_posts_path
      = link_to 'Music', music_posts_path
      = link_to 'Places', places_posts_path

    = yield
