<!doctype HTML>
<html class="map">
  <head>
    <title>In Search of Sunrise</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="application">
    <%= yield %>
    <%= render partial: 'shared/gauges' %>
  </body>
</html>
