!!! 5

%html.map
  %head
    %title In Search of Sunrise
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true'
    = csrf_meta_tags
    = yield :head

  %body
    = yield
    = render :partial => 'shared/gauges'
